@media screen and (max-width: 576px) {

    .banner-container,
    .banner-form,
    .video-graphy-container,
    .download-container,
    .kids-container,
    .footer-main-content,
    .footer-second-content
     {
        flex-direction: column;
    }

    .head {
        height: auto;
    }

    nav ul {
        width: 100%;
        padding: 4px 10px;
    }

    .logo {
        font-size: 2rem;
    }

    .banner-title {
        padding: 10px;
        font-size: 1.7rem;
    }

    .banner-container {
        margin-top: 80px;
    }

    .banner-form input {
        width: 100%;
    }

    .banner-form,
    .download-container,
    .kids-container,
    .services-container,
    .footer-container
    {
        width: 90%;
        margin: 0 auto;
        gap: 10px;
        padding-bottom: 30px;
    }

    .banner-geertings {
        font-size: 16px;
    }

    .banner-description {
        font-size: 20px;
        text-align: center;
    }

    .banner-btn {
        width: 56%;
        margin: 0 auto;
    }

    .primary-btn {
        font-size: 1rem;
    }

    .content video {
        width: 73%;
        transform: translate(-50%, -50%);
        top: 47%;
        left: 50%;
        overflow: hidden;
    }

    .content img {
        width: 100%;
    }

    .video-graphy-container {
        width: 93%;
        text-align: center;
    }

    .content-text-title,
    .content-text-download h3,
    .watch-title,
    .kids-content-title,
    .services-content h3 {
        font-size: 2rem;
        text-align: center;
    }

    .context-description {
        font-size: 1.125rem;
        width: 82%;
        margin: 0 auto;
    }

    .content-image>img {
        width: 94%;
    }

    #none {
        display: none;
    }

    .none {
        display: block;
    }

    .download-sub-container {
        width: 100%;
        margin-left: 0;
        transform: translate(0%, -74%);
    }

    .download-sub-container img {
        width: 65px;
    }

    .content-text-download p {
        line-height: normal;
        text-align: center;
        margin-top: 10px;
    }

    .content-text-download h3,
    .services-content h3 {
        margin-top: 40px;
    }

    .watch-container {
        margin: 0;
    }

    .watch-container {
        width: 100%;
        text-align: center;
        margin: 38px 0;
    }

    .kids-content img {
        width: 100%;
    }

    .kids-content-description {
        font-size: 1.125rem;
        text-align: center;
    }

    .watch-description {
        font-size: 1.125rem;
    }

    .box {
        font-size: 1rem;
    }
    footer{
        height: auto;
    }
    .footer-container{
        padding: 0;
    }
    .footer-main-content ul li,
    .footer-second-content ul li{
        font-size: 14px;
    }
    .footer-main-content,
    .footer-second-content
    {
        align-items: normal;
        gap: 20px;
    }
}