:root {
    --primary-color: #fff;
    --large-font-size: 3rem;
    --base-font-size: 2rem;
    --little-font-size: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}

/* navigatnion bar styles start */
.head {
    width: 100%;
    margin: 0 auto;
    height: 700px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%), linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%), url("../assets/BD-en-20240715-POP_SIGNUP_TWO_WEEKS-perspective_WEB_b72f450b-3e2f-4a50-a4df-6057644f84d1_small.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

nav ul {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
}

.header-image {
    color: red;
    border: 2px solid white;
}

.logo {
    font-size: 3rem;
    color: #E50914;
}

.primary-btn:hover {
    background: #C11119;
}

/* navigatnion bar styles end */

/* banner section styles start */

.primary-btn {
    border: 0;
    outline: 0;
    padding: 5px 11px;
    background-color: rgb(229, 9, 20);
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.banner-container p {
    color: #fff;
}

.banner-title {
    color: #fff;
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    padding: 20px;
}

.banner-geertings {
    font-size: 1.5rem;
    padding: auto;
    font-weight: 400;
}

.banner-description {
    font-size: 1.25rem;
    font-weight: 400;
    padding: 20px;
}

.banner-form {
    display: flex;
    width: 550px;
    justify-content: space-between;
    gap: 20px;
}

.banner-form input {
    border-radius: 8px;
    width: 60%;
    padding: 1rem;
    font-size: 17px;
    line-height: 1.25;
    border: 0;
    outline: 0;
    background: transparent;
    filter: blur(0.5%);
    border: 1px solid silver;
    color: #fff;

}

.banner-btn {
    width: 35%;
    padding: 10px 8px;
    height: 60px;
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
}

.gt-icn {
    font-weight: 700;
    margin-left: 8px;
}

.hr {
    width: 100%;
    height: 0.5rem;
    background-color: #232323;
    display: block;
}


/* banner section styles end */
main {
    background: #000;
}

/* videography section styles start */

.video-graphy-container {
    width: 64%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    position: relative;
}

.content video {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 48%;
    left: 49%;
    overflow: hidden;
}

.content-text-title {
    color: var(--primary-color);
    font-size: var(--large-font-size);
    margin: 14px 0;
}

.context-description {
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 400;
}

/* videography section styles end */

/* download-container styles start */

.download-container{
    width: 62%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.download-sub-container img{
    width: 80px;
    height: auto;
    position: absolute;
    padding: 11px;
}
.download-sub-container{
    width: 64%;
    background: black;
    transform: translate(3% , -150%);
    display: flex;
    align-items: center;
    margin-left: 71px;
    border: 2px solid #232323;
    border-radius: 0.75rem;
    gap: 20px;
}

.content-image img{
    position: relative;
}
/* .desc-download-2{
    color: blue;
} */
 .desc-down p{
    line-height: 28px;
    color: #fff;
    font-weight: 600;
 }
 #desc-download-2{
    color: rgba(11, 11, 239, 0.933);
 }

 .download-sub-txt{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
/* download-container styles end */

/* download text styles start */

.content-text-download h3{
    font-size: var(--large-font-size);
    color: var(--primary-color);
    font-weight: 900;
}
.content-text-download p{
    color: var(--primary-color);
    /* font-size: 1.5rem; */
    line-height: 50px;
}

.content-image > img{
    width: 100%;
}
/* download text styles end */

/* watch container section styles start */
.watch-container{
    width: 54%;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;
}
.watch-title{
    text-align: left;
    font-size: var(--large-font-size);
    color: var(--primary-color);
    font-weight: 900;
}
.watch-description{
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 30px;
    margin-top: 20px;
}
/* watch container section styles end */

/* kids section styles start */

.kids-container{
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.kids-content-title{
    font-size: var(--large-font-size);
    color: var(--primary-color);
}
.kids-content-description{
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: 400;
    margin-top: 20px;
    width: 85%;
}
/* kids section styles end */

.none{
    display: none;
}

/* services section styles start */

.services-container{
    width: 70%;
    margin: 0 auto;
}
.services-content h3{
    font-size: var(--large-font-size);
    text-align: center;
    color: var(--primary-color);
}
.box {
    color: var(--primary-color);
    font-size: 1.4rem;
    padding: 1.5rem;
    margin: 10px;
    cursor: pointer;
    width: calc( 100% - 17px);
    background: #414141;
}

.hidden-text {
    display: none;
    margin-top: 10px;
    color: var(--primary-color);
    font-size: 1.4rem;
}
.services-sub-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* services section styles end */